

.Counter {
  text-align: center;
  margin-top: 50px;
}

.counter-display {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.button-container button:hover {
  background-color: #ddd;
}
